body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding:0;
  
}

.padding-container {
  padding-left: 10%;
  padding-right: 10%;
}

.logo-container {
  padding: 1%;
  padding-right: 10%;
}

.stanford-logo {
  width: 320px;
  height: 48px;
}

.hero-design-thinking {
  background-image: url("../images/jez-timms-8muUTAmcWU4-unsplash.jpg");
  background-size: cover;
}

.transparent-layer {
  background-color: rgba(248, 247, 216, 0.11);
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.design-form-section {
  display: grid;
  grid-template-rows: 62% 38%;
  grid-template-columns:62% 38%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.design-quote-container {
  padding-top: 6%;
padding-bottom: 2%;
  color: white;

}

.design-quote {
  display: grid;
  grid-gap: 2%;
  padding-right: 2%;
}
.design-heading {
  font-size: 2.3vw;
}
.design-info {
  padding-right: 30%;
  font-size: 1.3vw;
}

.addmission-info {
  background-color: #1d2f52;
  padding: 1%;
  display: inline-block;
  border-radius: 4px;
  margin-bottom:2%;
}

.addmission {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
/* form-jquery */
#form-name-error, #form-email-error, #form-mobile-error,#dd1-error,#dd2-error{
  color:red;
  padding:1%;
  margin-bottom:3%;
  font-size:0.8em;
  font-family: "Source Sans Pro";
}

#checkbox-error{
  grid-column:2/3;
  color:red;  
}
.apply-form-container{
  grid-row:1/3;
  grid-column:2/3;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:2px;
}
.apply-now-form {
  height:fit-content;
  display: flex;
  flex-direction: column;
 
  background-color: white;
  color: #354463;
  padding: 20px;
  
  border-radius: 3px;
  /* margin-bottom:5%; */
}
.apply-now-btn-container {
 text-align:center;
}
.apply-now-btn {
  background-color: #8c1515;
  color: white;
  padding:2%;
  padding-left:5%;
  padding-right:5%;

  
  border: none;
  border-radius: 5px;
}

.form-heading {
  text-align: center;
}

.input-group {
  padding: 2%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.input-group:focus{
  border-image: none;
  outline:none;
  border:1.5px solid rgb(112, 173, 194);
}

.form-dropdown {
  background: none;
  color: grey;
}
.form-checkbox {
  margin-bottom: 5%;
  color: black;
  font-size: 0.75em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.1fr 1fr;
}

#form-checkbox{
  grid-column:1/2;
  grid-row:1/2;
}
.terms{
  grid-row:1/2;
  grid-column:2/3;
}


/*//////////////////////////////////////////// countdown styling/////////////////////////// */
.countdown-container{
  
  padding-right:20vw;

  padding-bottom:5%;
  margin-top: 2%;
  
}
.countdown-heading-container{
  color:white;
  background-color: #019c84;
  /* display:inline-block; */
 padding:4%;
 padding-left:1%;
 padding-right:1%;
  text-align:center;
}

.countdown-heading{
  margin:0;
  font-size:1.5vw;
}

.timer{
  display:grid;
}

.timer-heading{
  font-size:0.7em;
  padding-left:10%;
  
  padding-right:10%;
  padding-top:2%;
  display:flex;
  justify-content: space-around;
  background-color: #e2ddcb;
}

#clock{
  color:#175e54;
  font-size:2.6vw;
  display: flex;
  background-color: #e2ddcb;
  padding:2%;
  padding-right:7%;
  padding-left:14%;
  height:8vh;
  line-height:6vh;
  overflow:hidden;
  
  }

  

.timer-divider{
  padding-left:5.5%;
padding-right:5.5%;
}

.move{
  animation: move ease-in-out 0.6s infinite;

}

@keyframes move{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-7vh);
  }
}


@media only screen and (max-width: 1024px) {
      #clock{
        height:5vh;
        line-height: 4vh;
      }

}

@media only screen and (max-width: 800px) {
  .design-form-section {
  
    grid-template-rows:63% 37%;
    grid-template-columns: 51% 49%;
  }

  .design-quote-container {
   
    padding-bottom: 2%;
    margin-right: 6%;
  }
  .design-quote {
    display: grid;
    
    padding-right: 2%;
  }
  .design-heading {
    font-size: 1.4em;
  }
  .design-info {
    padding-right: 30%;
    font-size: 0.8em;
  }

  .addmission-info{
    margin-bottom:3%;
    font-size:0.8em;
    padding:2%;

  }

  .apply-now-form {
    /* height:fit-content; */
    
    padding: 6%;
  }

  .countdown-container{
    margin-top:10%;
    padding-right:20%;
  
    padding-bottom:5%;
    
  }

  .countdown-heading{
    font-size:0.83em;
  }
.timer-heading{
  font-size:0.65em;
}
  .timer-divider{
    padding-left:6%;
    padding-right:6%;
  }

}

@media only screen and (max-width: 600px) {
  .stanford-logo {
    height: 35px;
    width: 220px;
  }
  .hero-design-thinking {
    background-image: url("../images/matt-ragland-8OVDzMGB_kw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .transparent-layer {
    background-color: rgba(35, 36, 44, 0.514);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .design-form-section {
    display: grid;
    grid-template-rows: 30% 20% 50% ;
    grid-template-columns: 100%;
    padding-bottom: 20%;
  }
  .design-quote-container {
    padding: 0;
  }
.apply-form-container{
  grid-column:1/2;
  grid-row:3/4;
}
  .apply-now-form {
    
    height: fit-content;
    
    padding: 6%;
  }

  .countdown-container{
    padding:0;
    
    margin-bottom:10%;
  }
  .countdown-heading{
    font-size:1.2em;
  }
  
  .timer-heading{
    
    font-size:0.8em;
  }
  .timer-divider{
    padding-left:6%;
  padding-right:6%;
  }
  #clock{
    font-size:1.5em;
    padding-left:15%;
  }
}

@media only screen and (max-width: 400px) {
  .countdown-heading{
    font-size:0.95em;
  }
  .timer-heading{
    font-size:0.7em;
  }
}

/*///////////////////////*************** why-design-thinking  section###########///////////////////////// */

.why-design-thinking {
  text-align: center;
  padding: 3%;
}

.why-design-heading-container {
  position: relative;
  margin-bottom: 4%;
  text-align: center;
}

.why-design-heading {
  color: black;
  font-family: "Source Sans Pro";
}
.why-design-heading::after {
  content: "";
  background: #8c1515;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 46%;
  height: 2.2px;
  width: 70px;
  /* border:solid 0.2px #8c1515; */
  border-radius: 900px;
}
.why-design-video {
  margin-bottom: 4%;
}
iframe {
  height: 300px;
  width: 500px;
  border: none;
}

.growth-history-block-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
}
.growth-history-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px;
  position: relative;
}

.growth-history-block:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.growth-history-info {
  text-align: left;
}

.growth-history-source {
  position: absolute;
  bottom: 7px;
}

@media only screen and (max-width: 800px) {
  iframe {
    height: 255px;
    width: 400px;
  }
  .growth-history-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 30px;
    position: relative;
  }
  .why-design-heading::after {
    left: 43%;
    height: 2px;
    width: 70px;
  }
  /* .icon-block{
        height:50px;
        width:
    } */

  .icon {
    height: 60px;
    width: 60px;
  }
  .growth-history-info {
    font: 0.9em/1.2em "Source Sans Pro";
  }

  .growth-history-source {
    position: absolute;
    bottom: 7px;
    font: italic 0.9em/1em "Source Sans Pro";
  }
}

@media only screen and (max-width: 600px) {
  .why-design-thinking {
    padding-bottom: 80px;
  }
  .why-design-heading-container {
    margin-bottom: 30px;
  }
  .why-design-heading::after {
    left: 40%;
    height: 2px;
    width: 70px;
    border-radius: 40px;
  }
  .why-design-video {
    margin-bottom: 30px;
  }
  iframe {
    height: 210px;
    width: 280px;
  }
  .growth-history-block-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

/* ////////////////////////////////////introduction/////////////// */

.introduction-section {
  background-color: #e2ddcb;
}

.intro-heading-container {
  text-align: center;
  position: relative;
}

.introduction {
  padding: 2%;
}

.intro-heading::after {
  position: absolute;
  left: 46.5%;
  height: 2px;
  border-radius: 700px;
}

.intro-quote {
  font: italic 0.95em/1em "Source Sans Pro";
}

.intro-quote-author {
  text-align: right;
  padding-right: 50px;
  font: italic bold 0.8em/2em "Source Sans Pro";
}

.intro-paras {
  font: 0.9em/1.7em "Source Sans Pro";
}

@media only screen and (max-width: 768px) {
  .intro-heading::after {
    left: 44%;
  }
}
@media only screen and (max-width: 600px) {
  .introduction{
    padding-top:5%;
    padding-bottom: 9%;
  }
  .intro-heading::after {
    left: 38%;
  }
}
/* //////////////////////////////////////ADVANTAGE//////////////////////////////////////////// */
.advantage-section {
  text-align: center;
}

.advantage {
  padding: 3%;
  padding-left: 4%;
  padding-right: 4%;
}

.advantage-heading-container {
  margin-bottom: 100px;
  position: relative;
}

.advantage-heading::after {
  position: absolute;
  top: 110%;
}

.advantage-icons {
  text-align: center;
  display: flex;
  justify-content: center;
}
.advantage-icon-container {
  border-radius: 500px;
  height: 50px;
  width: 50px;
  padding: 5%;
  /* padding-top:22px;
    padding-bottom:15px; */
  background-color: #544948;
}

.advantage-icon {
  height: 50px;
  width: 50px;
}

.advantage-blocks {
  display: grid;
  grid-gap: 70px;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.advantage-info {
  padding-left: 20px;
  padding-right: 20px;
}

/* @media only screen and (max-width: 768px) {
    .advantage-blocks{
        display:grid;
        
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

} */

@media only screen and (max-width: 620px) {
  .advantage-heading-container{
    margin-bottom:50px;
  }
  .advantage-blocks {
    display: grid;
    grid-gap:20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

/* //////////////////////////////////////// PROGRAM-HIGHLIGHTS-SECTION//////////////////////// */
.program-highlights {
  background-color: #e2ddcb;
  padding-top: 4%;
  padding-bottom: 6%;
}
.program-highlights-section {
  text-align: center;
}

.program-heading-container {
  margin-bottom: 50px;
}

.program-info-blocks-container {
  display: grid;
  grid-template-rows: 0.8fr 0.8fr;
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.program-info-block {
  background-color: white;
}

@media only screen and (max-width: 850px) {
  .program-info-blocks-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .program-info-blocks-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

/* //////////////////////////////******LEARN FROM THE BEST////////////////////////////////// */

.learn-from-the-best {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 8%;
}

.stefanos-profile-info {
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
}

.stefanos-bio-container {
  text-align: left;
}
.stefanos-profile-photo {
  padding-top: 7%;
  padding-left:20%;
}
.stefanos-photo {
  height: 130px;
  width: 130px;
  border-radius: 500px;
}
.stefanos-bio {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  padding-right: 30px;
}

.stefanos-bio-bold {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .stefanos-bio {
    font-size: 0.7em;
  }

  .stefanos-profile-photo{
    padding-left: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .learn-from-the-best{
    padding-bottom: 15%;
  }
  .stefanos-profile-info {
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    grid-gap: 0;
  }
  .stefanos-profile-photo {
    display: flex;
    justify-content: flex-start;
    padding-left:25%;
  }
}

/* ///////////////////////*****************CURRICULAM SNAPSHOT******************** */

.curriculam-section {
  background-color: #e2ddcb;
  padding-top: 5%;
  padding-bottom: 5%;
}

.curriculam-info {
  margin-bottom: 30px;
}

.curriculam-accordions {
  background-color: white;
}
.accordion {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: solid 1px grey;
  background-color: white;
  cursor: pointer;
  border-bottom: none;
  transition: 0.4s;
  outline: none;
}

.accordion-l {
  border-bottom: solid 1px grey;
}

.accordion:after {
  content: "\271A";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}
.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: solid 1px grey;
  border-top: none;
  border-bottom: none;
}

.panel-l {
  border-bottom: solid 0.2px grey;
}

.panel-list {
  margin: 10px;
}

.learning-outcomes-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.learning-p {
  padding-bottom: 6%;
}

.learning-info-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.learning-info-block {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 1%;
  justify-content: center;
  align-items: center;
}
.learning-icon-container{
  display:flex;
  justify-content:center;
}
.learning-icon {
  height: 25px;
  width: 25px;
}

.laptop-img {
  height: 250px;
  width: 450px;
}

@media only screen and (max-width: 850px) {
  .curriculam-section{
    padding-bottom:8%;
  }
  .learning-info-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .laptop-img-container {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

  .curriculam-section{
    padding-bottom:9%;
  }
  .laptop-img {
    height: 150px;
    width: 250px;
  }

  .learning-info {
    font-size: 0.8em;
  }
}

.who-should-attend {
  padding-bottom: 7%;
  padding-top: 5%;
}
/* //////////////////////////////////////////////ELIGIBILITY-SECTION/////////////////////////////////////////////////////////// */
.eligibility-section {
  padding: 8%;
}

.eligibility {
  background-color: #e2ddcb;
}

.eligibility-heading-container {
  padding-bottom: 5%;
}
.eligibility-blocks {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}

.eligibility-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eligibility-info {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

.eligibility-icon-container {
  background-color: #8c1515;
  border-radius: 500px;
  height: 50px;
  width: 50px;
  padding: 5%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .eligibility-icon-container {
    padding: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .eligibility-section{
    padding-bottom: 10%;
  }
  .eligibility-blocks {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5%;
  }
}
/* ////////////////////////////////TESTIMONIALS/////////////////////////////////////////////////////// */

.owl-carousel{
  z-index: 0;
}
.owl-carousel .active{
  background-color:white;
}
.owl-carousel .active:after{
  content:'';
  
}

.owl-carousel:hover{
  background-color:white;
}

.owl-nav{
  position:relative;
  
}

.owl-prev{
  position:absolute;
  top:-245px;
  left:0;
  margin-right:6%;
  border: none;
  outline:none;
}

.owl-prev:hover{
  background-color: white;
}


.owl-next{
  position:absolute;
  top:-245px;
  right:0;
  margin-left:6%;
  border:none;
  outline:none;
}

.owl-nav button span{
  font-size:90px;
  background-color:white;
  color:black;
  
}


.quote-icon-container {
  font-family: "Source Sans Pro";
  font-size: 1em;
  padding: 2%;
  padding-left: 8%;
  padding-right: 5%;
}

.testimonials-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.testimonials-quote {
  position: relative;
}
.testimonials-quote:before {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 9px;
  background: url("../Assets/start-quote.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonials-quote:after {
  content: " ";
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 9px;
  background: url("../Assets/end-quote.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.quote-author-info {
  text-align: right;
  font-size: 1em;
  padding-right: 5%;
}
@media only screen and (max-width: 800px) {
  .testimonials-quote {
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .owl-prev {
    top: -250px;
    left: -20px;
  }

  .owl-next {
    top: -250px;
    right: -20px;
  }
  .quote-author-info{
    font-size:0.8em;
  }
}



/* ///////////////////////////////////////////////////////COMPANIES///////////////////////////////////////////////////////// */
.companies-section {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}
.companies-heading-container {
  padding-bottom: 5px;
  position: relative;
}

.companies-heading::after {
  position: absolute;
  top: 70%;
}
.companies-img-container{
  width: 80%;
    margin: 0 auto;
    
    text-align: center;
}
.companies-img {
 width:80%;
}

@media only screen and (max-width: 800px) {
  .companies-img {
    
  }
}
@media only screen and (max-width: 600px) {
  .companies-img {
    width: 100%;
  }
}

/* /* /* ///////////////////////////////////////////////////////GREAT LEARNING FOOTER//////////////////////////////////////////////////////////////////// */
.great-learning-footer-section {
  background-color: #f4f4f4;
}
.great-learning-footer {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 0.95em;
}

.great-learning-tag {
  font-weight: 500;
}

.great-learning-info {
  font-size: 0.85em;
  font-weight: 100;
  color: rgb(41, 39, 39);
}

.great-learning-img{
  height:47px;
  width:200px;
}

@media only screen and (max-width: 800px) {
  .great-learning-footer {
    padding-bottom: 17%;
  }
}

@media only screen and (max-width: 600px) {
  .great-learning-footer {
    padding-bottom: 25%;
  }
  .great-learning-img{
    height: 33px;
    width:133px;
  }
}

/* /////////////////////////////////////************FOOOOOOTER************ //////////////////////*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  display:none;
  background-color: #8c1515;
  color: white;
}

.footer-padding{
  padding: 1.5%;
  padding-left:28%;
  padding-right:28%;
}

.footer-apply-now {
  
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
}

.footer-tag {
  font-family:"Source Sans Pro";
  font-size:1em;
}

.apply-now-btn-footer {
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font: bold 0.9em/1.5em SourceSansPro;
  background-color: #eaab00;
  color: black;
  border: none;
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  .footer-padding{
    padding:2%;
    padding-left:20%;
    padding-right:20%;
  }
  .footer-tag {
    font-size: 0.8em;
  }
  .apply-now-btn-footer {
    font-size: 0.8em;
  }
}

@media only screen and (max-width:600px) {
  .footer-padding{
    padding:2.5%;
    padding-left:30%;
    padding-right:30%;
  }
  .footer-tag{
    display:none;
  }
  .footer-apply-now{
    grid-template-columns: 100% ;
    
    justify-content: center;
    align-items:center;
  }
}
/* ////////////////////////////////////////////////////////////////////// */
